
/*这里包含所有页面的css样式*/
/*通用样式组件*/

/*包括所有的css样式*/
/*公有样式*/

html,body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{overflow:hidden;_zoom:1;}
.protein-container{
  margin: 10px auto 10px auto;
  width: 1000px;
  height: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.common-margin{
  margin: 15px 30px 15px 30px;
}
.common-border{
  border: 1px solid lightgrey;
  border-radius: 10px;
}
.common-padding{
  padding: 10px 20px;
}
.display-none{
  display: none;
}
/*公有样式*/
/*分类页面样式*/
.title{
  text-align: center;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  color: black;
  font-style: normal;
}
.nav{}
.nav-son{
  float: left;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.nav-son:hover{
  background-color: #337ab7;
  color: white;
}

.nav-son:last-child{
  float: right;
}
.nav-son a{
  color: black;
}
.show-container{
  height: 600px;
}
.show-container-content{
  height: 600px;
}
.show-container-title{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}
.left{
  float: left;
}
.right{
  margin: 15px;
  float: left;
  word-wrap: break-word;
  max-width: 690px;
  max-height: 600px;
  height: 600px;
  width: 690px;
  overflow-y: auto;
}
.list{
  margin: 15px;
  padding: 10px 20px;

  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.list a{
  color: black;
}
.select-name{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
}
.select-data{
  margin-top: 20px;
  margin-left: 100px;
}
#s1{
  width: 300px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
select#s1 option{
  text-align: center;
}
.select-data button{
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  outline: none;
  background-color: white;
}
table tr td{
  text-align: center;
}
.blast button{
  margin-left: 20px;
  width: 200px;
}
.btn-download{
  margin-left: 20px;
  width: 200px;
}
.load-data table,.blast-table>table,.end-result-table>table{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
}
.show-container-content,.jianjie,.download,.operation,.help{
  display: none;
  height: 600px;
}
/*分类页面样式*/
/*login页面*/
.login-div-title{
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  color: black;
}
.login-div{

  position: absolute;
  width: 600px;
  height: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/*login页面*/
